@media screen and (max-width: 600px){
    .header-section{
    flex-direction: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

video{
    max-width: 100%;
    margin: 0 auto;
}
.nav-right{
    display: none;
}
.nav-icon{
    display: block;
    font-size: 1.5rem;
}
.selection-part{
    display: flex;
    flex-direction: column;
}
.sec1-btn{
    width: 100%;
    
}


.section-2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sec3-heading-title{
    text-align: center;
}
.section-3{
    text-align: center;
}
.image-container{
    display: flex;
    flex-direction: column;
}
.div1, .div2, .div3{
    display: flex;
    flex-direction: column;
}

.middle{
    display: flex;
    flex-direction: column;
}
.middle-left{
    margin: 0 0 20px 0;
}
.middle-right{
    margin: 0 0 20px 0;
}
.bottom{
    width: 100%;
    margin: 0 0 20px 0;
}
.sec3-heading-description{
    margin: 0;
    padding: 0;
}
.section-6{
    display: flex;
    flex-direction: column;
}
.section-7{
    display: flex;
    flex-direction: column;
}
.sec6-bulletpoint{
    padding-left: 20px;
}
.image-container img{
  height: 300px;
   
}
.comt{
    display: flex;
    flex-direction: column;
}
}
